 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 892px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 556px;
  margin: 30px auto 0 -41px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 788px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/3231.jpg");
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -14px 8px 0 173px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 609px;
  margin: -788px 0 0 531px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/backround.png");
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 317px 0 -6px 305px;
}

.u-section-1 .u-layout-wrap-3 {
  width: 609px;
  margin: 16px 0 60px auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 365px;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/dadaa.jpg");
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  width: 331px;
  margin: 85px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
    margin-left: 431px;
  }

  .u-section-1 .u-layout-wrap-3 {
    position: relative;
    margin-top: 358px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 372px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-left: 111px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 725px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 236px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 324px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 445px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 36px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 204px;
  }
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  color: #ffffff !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-1 .u-text-3 {
  color: #ffffff !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}