 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 602px;
}

.u-section-1 .u-form-1 {
  height: 295px;
  width: 570px;
  margin: 35px auto 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 10px 0;
}

.u-section-1 .u-text-1 {
  margin: -10px auto 0 295px;
}

.u-section-1 .u-text-2 {
  margin: 0 650px 60px 295px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 450px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 226px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 299px;
    margin-left: 226px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 175px;
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 107px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 38px;
    margin-left: 107px;
  }
}